
<div class="jumbotron">
    <h1 align="center"><b>Rumors you do not want to miss!</b></h1>
      <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Search here" aria-describedby="sizing-addon1">
    </div>
    <%= link_to "Interest me","", class:"btn btn-lg btn-success search-btn", id:"search"%>
</div>

  
  <h2 align="center"><b> Most Popular Rumors of the day... </b></h2>
   <div class="popular-container">
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Jeff Bush is gay</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Qualocomm laying 4500</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
    <a href="http://www.w3schools.com/html/" class=popular-links>Intel laying off 1000 employees</a><br>
  </div>

        
