<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Rumorson","", class:"btn btn-lg btn-success", id:"logo"%>
    <%= link_to "Post a Rumor","",class:"navbar-link navbar-right nav-text-link", id:"post"%>
    <%= link_to "Privacy Policy","",class:"navbar-link navbar-right nav-text-link", id:"privacy"%>
    
  </div>
</header>